--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.3.1+cpu
langchain
langchain-classic
langchain-community
langchain-huggingface
langchain-chroma
langchain-groq
python-dotenv
docx2txt
pymupdf
fastapi
uvicorn
python-multipart
